<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.common.mybatis.SystemConfigMapper">
    <resultMap id="BaseResultMap" type="com.spring.common.po.SystemConfig">
        <id column="uk" jdbcType="VARCHAR" property="uk"/>
        <result column="config_area" jdbcType="INTEGER" property="configArea"/>
        <result column="config_group" jdbcType="VARCHAR" property="configGroup"/>
        <result column="config_key" jdbcType="VARCHAR" property="configKey"/>
        <result column="config_value" jdbcType="VARCHAR" property="configValue"/>
        <result column="config_desc" jdbcType="VARCHAR" property="configDesc"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    uk, config_area, config_group, config_key, config_value, config_desc, create_time, 
    update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_config
        where uk = #{uk,jdbcType=VARCHAR}
    </select>
    <select id="selectByUK" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from system_config
        where config_area=#{configArea,jdbcType=INTEGER}
        and config_group=#{configGroup,jdbcType=VARCHAR}
        and config_key=#{configKey,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from system_config
    where uk = #{uk,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.spring.common.po.SystemConfig">
    insert into system_config (uk, config_area, config_group, 
      config_key, config_value, config_desc, 
      create_time, update_time)
    values (#{uk,jdbcType=VARCHAR}, #{configArea,jdbcType=INTEGER}, #{configGroup,jdbcType=VARCHAR},
      #{configKey,jdbcType=VARCHAR}, #{configValue,jdbcType=VARCHAR}, #{configDesc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.spring.common.po.SystemConfig">
        insert into system_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uk != null">
                uk,
            </if>
            <if test="configArea != null">
                config_area,
            </if>
            <if test="configGroup != null">
                config_group,
            </if>
            <if test="configKey != null">
                config_key,
            </if>
            <if test="configValue != null">
                config_value,
            </if>
            <if test="configDesc != null">
                config_desc,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uk != null">
                #{uk,jdbcType=VARCHAR},
            </if>
            <if test="configArea != null">
                #{configArea,jdbcType=INTEGER},
            </if>
            <if test="configGroup != null">
                #{configGroup,jdbcType=VARCHAR},
            </if>
            <if test="configKey != null">
                #{configKey,jdbcType=VARCHAR},
            </if>
            <if test="configValue != null">
                #{configValue,jdbcType=VARCHAR},
            </if>
            <if test="configDesc != null">
                #{configDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.spring.common.po.SystemConfig">
        update system_config
        <set>
            <if test="configArea != null">
                config_area = #{configArea,jdbcType=INTEGER},
            </if>
            <if test="configGroup != null">
                config_group = #{configGroup,jdbcType=VARCHAR},
            </if>
            <if test="configKey != null">
                config_key = #{configKey,jdbcType=VARCHAR},
            </if>
            <if test="configValue != null">
                config_value = #{configValue,jdbcType=VARCHAR},
            </if>
            <if test="configDesc != null">
                config_desc = #{configDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where uk = #{uk,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.spring.common.po.SystemConfig">
    update system_config
    set config_area = #{configArea,jdbcType=INTEGER},
      config_group = #{configGroup,jdbcType=VARCHAR},
      config_key = #{configKey,jdbcType=VARCHAR},
      config_value = #{configValue,jdbcType=VARCHAR},
      config_desc = #{configDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where uk = #{uk,jdbcType=VARCHAR}
  </update>
</mapper>